################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/NanoModbus/v14
/.vscode
.vs/
/src/NanoModbus/bin/Debug
/src/NanoModbus/obj/Debug
/.vs
/packages/NUnit.2.6.4
*.user
*.lock.json
/test/NanoModbusTests/bin/Debug
/test/NanoModbusTests/obj/Debug
